{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/hub.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/socket.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/dictionary.js') }}"></script>
{% endblock %}

{% block right_buttons %}
    <div class="navigator-button-right">
        <button id="socket-status" onclick="startSocket();">Waiting...</button>
    </div>
{% endblock %}

{% block content %}
    <!-- <div id="socket-status-container"> -->
    <!-- </div> -->

    <div id="hub-grid">
        {% for key in dictionary.keys() %}
            <div class="hub-entry en"
                onclick="createInput($(this).children()[0]);">
                <div class="hub-entry-text"
                    id="{{ key }}-en"
                    data-key="{{ key }}"
                    data-target-language="en">
                    {{ dictionary[key]["en"]["text"] }}
                </div>
            </div>
            <div class="hub-entry de"
                onclick="createInput($(this).children()[0]);">
                <div class="hub-entry-text"
                    id="{{ key }}-de"
                    data-key="{{ key }}"
                    data-target-language="de">
                    {{ dictionary[key]["de"]["text"] }}
                </div>
            </div>
            <div class="hub-entry nl"
                onclick="createInput($(this).children()[0]);">
                <div class="hub-entry-text"
                    id="{{ key }}-nl"
                    data-key="{{ key }}"
                    data-target-language="nl">
                    {{ dictionary[key]["nl"]["text"] }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}