{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/hub.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/socket.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/dictionary.js') }}"></script>
    <script>
        var dictionaryJSONL = {{ dictionary|tojson }};
    </script>
{% endblock %}

{% block right_buttons %}
    <div class="navigator-button-right">
        <button class="pure-button" id="socket-status" onclick="startSocket();">Waiting...</button>
    </div>
{% endblock %}

{% block content %}
    <div id="popup-container">
        <div id="edit-entry-grid">
            <div class="edit-entry-header edit-entry-grid-elem header-de">
                DE
            </div>
            <div class="edit-entry-header edit-entry-grid-elem header-en">
                EN
            </div>
            <div class="edit-entry-header edit-entry-grid-elem header-nl">
                NL
            </div>

            <div class="edit-entry-row edit-entry-grid-elem row-de">
                <input type="text" name="text-de" id="text-de">
            </div>
            <div class="edit-entry-row edit-entry-grid-elem row-en">
                <input type="text" name="text-en" id="text-en">
            </div>
            <div class="edit-entry-row edit-entry-grid-elem row-nl">
                <input type="text" name="text-nl" id="text-nl">
            </div>

            <div class="edit-entry-row edit-entry-grid-elem row-de">
                <textarea name="comment-de" id="comment-de" rows="10"></textarea>
            </div>
            <div class="edit-entry-row edit-entry-grid-elem row-en">
                <textarea name="comment-en" id="comment-en" rows="10"></textarea>
            </div>
            <div class="edit-entry-row edit-entry-grid-elem row-nl">
                <textarea name="comment-nl" id="comment-nl" rows="10"></textarea>
            </div>

            <div id="submit-entry-row" class="button-row">
                <button class="pure-button" id="submit-entry-button">Submit</button>
                <button class="pure-button" onclick="$('#popup-container').hide();">Cancel</button>
            </div>
        </div>
    </div>

    <table id="hub-table">
        <tr class="grid-elem hub-header de">
            <th class="empty"></th>
            <th class="empty"></th>
            <th>
                German
            </th>
            <th>
                English
            </th>
            <th>
                Dutch
            </th>
            <th class="empty"></th>
        </tr>
    </table>
{% endblock %}